<div class="py-12 sm:py-16"> <!-- Adjusted padding -->
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Everything You Need to Manage Bridge Information</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Our platform helps teachers and students maintain better control over the data regarding designed bridges. Easy to use and accessible for everyone.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl sm:mt-16 lg:mt-20 lg:max-w-4xl"> <!-- Adjusted margin -->
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "user-3.png", class: "h-9 w-auto"%>
            </div>
            User Profile
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Keep track of your information and manage your personal data in a simple and efficient way.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "track.png", class: "h-9 w-auto"%>
            </div>
            Bridge Records
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">You can more easily keep track of data about the bridges designed over the years.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "bridge.png", class: "h-9 w-auto"%>
            </div>
            Create Bridges
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">You can manually create a bridge with data entered from the keyboard or, with the new feature, you can upload a CSV file with data, and we will create the bridge for you.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg ">
              <%= image_tag "statistics.png", class: "h-9 w-auto"%>
            </div>
            Advanced Statistics
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">For each bridge, we provide statistics with charts that help analyze and interpret the data.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
