<%- if controller_name != 'sessions' || (devise_mapping.registerable? && controller_name != 'registrations') %>
  <div class="flex space-x-4">
    <% if controller_name != 'sessions' %>
      <%= link_to "Log in", new_user_session_path, class: "link" %>
    <% end %>

    <% if  controller_name != 'account_requests' %>
      <%= link_to "Request an account", new_account_request_path, class: "link" %>
    <% end %>
  </div>
<% end %>


