  <center>
    <%if bridge.latitude.blank? || bridge.longitude.blank?%>
      <p class="mt-1 max-w-3xl text-sm leading-6 text-gray-500">No location set</p>
    <%else%>
      <div id="map" style="width: 900px; height: 400px; max-width: 100%; margin: 0 auto;"></div>
      <script>

        var map = L.map('map').setView([<%= bridge.latitude %>, <%= bridge.longitude %>], 13);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    
        // Add a marker at the saved coordinates
        L.marker([<%= bridge.latitude %>, <%= bridge.longitude %>]).addTo(map);
      </script>
    <%end%>
  </center>


<style>
   #map {
    border-radius: 1rem;

  }

  @media (max-width: 640px) {
    #map {
      width: 100%;
      height: 300px;
    }
  }
</style>