<!-- component -->
<!-- This is an example component -->
<div class="h-screen">
 
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>

	<style>
		[x-cloak] {
			display: none;
		}

		[type="checkbox"] {
			box-sizing: border-box;
			padding: 0;
		}

		.form-checkbox,
		.form-radio {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			-webkit-print-color-adjust: exact;
			color-adjust: exact;
			display: inline-block;
			vertical-align: middle;
			background-origin: border-box;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			flex-shrink: 0;
			color: currentColor;
			background-color: #fff;
			border-color: #e2e8f0;
			border-width: 1px;
			height: 1.4em;
			width: 1.4em;
		}

		.form-checkbox {
			border-radius: 0.25rem;
		}

		.form-radio {
			border-radius: 50%;
		}

		.form-checkbox:checked {
			background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
		
		.form-radio:checked {
			background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
			border-color: transparent;
			background-color: currentColor;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	</style>
	<div x-data="app()" x-cloak>
		<div class="max-w-3xl mx-auto px-4 py-1">
			<div x-show.transition="step != 'complete'">	
				<!-- Top Navigation -->
				<div class="border-b-2 py-4">
					<div class="uppercase tracking-wide text-xs font-bold text-gray-500 mb-1 leading-tight" x-text="`Step: ${step} of 18`"></div>
					<div class="flex flex-col md:flex-row md:items-center md:justify-between">
						<div class="flex-1">
							<div x-show="step === 1">
								<div class="text-lg font-bold text-gray-700 leading-tight">Bridge Properties</div>
							</div>

							<div x-show="step === 2">
								<div class="text-lg font-bold text-gray-700 leading-tight">Tell me about yourself</div>
							</div>
						</div>

						<div class="flex items-center md:w-64">
							<div class="w-full bg-white rounded-full mr-2">
								<div class="rounded-full bg-green-500 text-xs leading-none h-2 text-center text-white" :style="'width: '+ parseInt(step / 18 * 100) +'%'"></div>
							</div>
							<div class="text-xs w-10 text-gray-600" x-text="parseInt(step / 18 * 100) +'%'"></div>
						</div>
					</div>
				</div>
        <%= form_with model: @bridge do |f| %>
				<div class="py-10">	
					<div x-show.transition.in="step === 1">
          <div class="mb-3">
          <%= f.label :name, class: "font-bold mb-1 text-gray-700 block text-sm" %>
          <%= f.select :name, 
             options_for_select([['United States', 'United States'], ['Canada', 'Canada'], ['Mexico', 'Mexico']]), 
             { prompt: ''}, 
             class: "w-full px-2 py-1 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium text-sm" %>
        </div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
					<div x-show.transition.in="step === 2">
						<div class="mb-5">
							<label for="male" class="font-bold mb-1 text-gray-700 block">Gender</label>
							<div class="flex">
								<label
									class="flex justify-start items-center text-truncate rounded-lg bg-white pl-4 pr-6 py-3 shadow-sm mr-4">
									<div class="text-teal-600 mr-3">
										<input type="radio" x-model="gender" value="Male" class="form-radio focus:outline-none focus:shadow-outline" />
									</div>
									<div class="select-none text-gray-700">Male</div>
								</label>

								<label
									class="flex justify-start items-center text-truncate rounded-lg bg-white pl-4 pr-6 py-3 shadow-sm">
									<div class="text-teal-600 mr-3">
										<input type="radio" x-model="gender" value="Female" class="form-radio focus:outline-none focus:shadow-outline" />
									</div>
									<div class="select-none text-gray-700">Female</div>
								</label>
							</div>
						</div>

						<div class="mb-5">
							<label for="profession" class="font-bold mb-1 text-gray-700 block">Profession</label>
							<input type="profession"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="eg. Web Developer">
						</div>
					</div>
          <div x-show.transition.in="step === 3">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 4">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 5">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 6">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 7">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 8">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 9">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 10">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 11">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 12">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 13">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 14">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 15">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 16">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 17">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
          <div x-show.transition.in="step === 18">
						<div class="mb-5">
							<label for="firstname" class="font-bold mb-1 text-gray-700 block">Firstname</label>
							<input type="text" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your firstname...">
						</div>
						<div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
            <div class="mb-5">
							<label for="email" class="font-bold mb-1 text-gray-700 block">Email</label>
							<input type="email" style="height: 19px;"
								class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
								placeholder="Enter your email address...">
						</div>
					</div>
				</div>
        <button type="submit"
							class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium" 
						>Complete</button>
    <%end%>
			</div>
      
	</div>

		<div class="fixed bottom-0 left-0 right-0 py-5 bg-white shadow-md" x-show="step != 'complete'">
			<div class="max-w-3xl mx-auto px-4">
				<div class="flex justify-between">
					<div class="w-1/2">
						<button
							x-show="step > 1"
							@click="step--"
							class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border" 
						>Previous</button>
					</div>

					<div class="w-1/2 text-right">
						<button
							x-show="step < 18"
							@click="step++"
							class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium" 
						>Next</button>

						
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function app() {
			return {
				step: 1, 
				gender: 'Male',

			}
		}
	</script>