<div>
  <div>
    <div class="sticky top-0 flex justify-between bg-gray-50">
      <div class="text-4xl tracking-wide"><%= @bridge.name %></div>
      <div>
          <%if @bridge.user == current_user%>
          <%= link_to "Create new Instance Bridge", new_bridge_instance_bridge_path(@bridge.id), class: "link" %>
          <%end%>

      </div>
    </div>
  <div>
<div>

